//
// Written by Synplify Pro 
// Product Version "S-2021.09M-SP1"
// Program "Synplify Pro", Mapper "map202109actsp1, Build 056R"
// Mon Oct 24 17:59:39 2022
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/std.vhd "
// file 1 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd/snps_haps_pkg.vhd "
// file 2 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/std1164.vhd "
// file 3 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/std_textio.vhd "
// file 4 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/numeric.vhd "
// file 5 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd/umr_capim.vhd "
// file 6 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/arith.vhd "
// file 7 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd2008/unsigned.vhd "
// file 8 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/vhd/hyperents.vhd "
// file 9 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/Clock_gen.vhd "
// file 10 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/Rx_async.vhd "
// file 11 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/Tx_async.vhd "
// file 12 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/fifo_256x8_g5.vhd "
// file 13 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/generic/acg5.vhd "
// file 14 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/coreuart_pkg.vhd "
// file 15 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/components.vhd "
// file 16 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/hdl/default_values.vhd "
// file 17 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/hdl/uart_reader.vhd "
// file 18 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0_0/rtl/vhdl/core/CoreUART.vhd "
// file 19 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/component/work/COREUART_C0/COREUART_C0.vhd "
// file 20 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/hdl/top_level.vhd "
// file 21 "\/usr/local/microchip/Libero_SoC_v2022.2/SynplifyPro/lib/nlconst.dat "
// file 22 "\/home/eraguzin/nextcloud/LuSEE/Libero/projects/uart/designer/top_level/synthesis.fdc "

`timescale 100 ps/100 ps
module COREUART_C0_COREUART_C0_0_Clock_gen_0_0 (
  baud_clock,
  clk,
  rstn_1
)
;
output baud_clock ;
input clk ;
input rstn_1 ;
wire baud_clock ;
wire clk ;
wire rstn_1 ;
wire [12:0] baud_cntr_Z;
wire [12:0] baud_cntr_s;
wire [11:0] baud_cntr_cry;
wire [0:0] baud_cntr_RNI7L9D3_Y;
wire [1:1] baud_cntr_RNIJSKD3_Y;
wire [2:2] baud_cntr_RNIECF45_Y;
wire [3:3] baud_cntr_RNISLQ45_Y;
wire [4:4] baud_cntr_RNIB0655_Y;
wire [5:5] baud_cntr_RNIRBH55_Y;
wire [6:6] baud_cntr_RNIQVBS6_Y;
wire [7:7] baud_cntr_RNICDNS6_Y;
wire [8:8] baud_cntr_RNID3IJ8_Y;
wire [9:9] baud_cntr_RNI1JTJ8_Y;
wire [10:10] baud_cntr_RNITQEV8_Y;
wire [12:12] baud_cntr_RNO_FCO;
wire [12:12] baud_cntr_RNO_Y;
wire [11:11] baud_cntr_RNIQ30B9_Y;
wire VCC ;
wire GND ;
wire un2_baud_cntr_1_RNIE7FM1_Y ;
wire baud_cntr_cry_cy ;
wire un2_baud_cntr_1_RNIE7FM1_S ;
wire un2_baud_cntr_1 ;
wire un2_baud_cntr_7 ;
wire un2_baud_cntr_8 ;
wire N_96 ;
wire N_95 ;
wire N_94 ;
wire N_93 ;
wire N_90 ;
// @9:214
  SLE \baud_cntr[12]  (
	.Q(baud_cntr_Z[12]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[11]  (
	.Q(baud_cntr_Z[11]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[10]  (
	.Q(baud_cntr_Z[10]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[9]  (
	.Q(baud_cntr_Z[9]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[8]  (
	.Q(baud_cntr_Z[8]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[7]  (
	.Q(baud_cntr_Z[7]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[6]  (
	.Q(baud_cntr_Z[6]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[5]  (
	.Q(baud_cntr_Z[5]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[4]  (
	.Q(baud_cntr_Z[4]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[3]  (
	.Q(baud_cntr_Z[3]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[2]  (
	.Q(baud_cntr_Z[2]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[1]  (
	.Q(baud_cntr_Z[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE \baud_cntr[0]  (
	.Q(baud_cntr_Z[0]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(baud_cntr_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:214
  SLE baud_clock_int (
	.Q(baud_clock),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(un2_baud_cntr_1_RNIE7FM1_Y),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:222
  ARI1 \UG10.make_baud_cntr2.un2_baud_cntr_1_RNIE7FM1  (
	.FCO(baud_cntr_cry_cy),
	.S(un2_baud_cntr_1_RNIE7FM1_S),
	.Y(un2_baud_cntr_1_RNIE7FM1_Y),
	.B(un2_baud_cntr_1),
	.C(un2_baud_cntr_7),
	.D(un2_baud_cntr_8),
	.A(baud_cntr_Z[12]),
	.FCI(VCC)
);
defparam \UG10.make_baud_cntr2.un2_baud_cntr_1_RNIE7FM1 .INIT=20'h40080;
// @9:222
  ARI1 \baud_cntr_RNI7L9D3[0]  (
	.FCO(baud_cntr_cry[0]),
	.S(baud_cntr_s[0]),
	.Y(baud_cntr_RNI7L9D3_Y[0]),
	.B(un2_baud_cntr_1_RNIE7FM1_Y),
	.C(baud_cntr_Z[0]),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry_cy)
);
defparam \baud_cntr_RNI7L9D3[0] .INIT=20'h61100;
// @9:222
  ARI1 \baud_cntr_RNIJSKD3[1]  (
	.FCO(baud_cntr_cry[1]),
	.S(baud_cntr_s[1]),
	.Y(baud_cntr_RNIJSKD3_Y[1]),
	.B(baud_cntr_Z[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[0])
);
defparam \baud_cntr_RNIJSKD3[1] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNIECF45[2]  (
	.FCO(baud_cntr_cry[2]),
	.S(baud_cntr_s[2]),
	.Y(baud_cntr_RNIECF45_Y[2]),
	.B(un2_baud_cntr_1_RNIE7FM1_Y),
	.C(baud_cntr_Z[2]),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[1])
);
defparam \baud_cntr_RNIECF45[2] .INIT=20'h61100;
// @9:222
  ARI1 \baud_cntr_RNISLQ45[3]  (
	.FCO(baud_cntr_cry[3]),
	.S(baud_cntr_s[3]),
	.Y(baud_cntr_RNISLQ45_Y[3]),
	.B(baud_cntr_Z[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[2])
);
defparam \baud_cntr_RNISLQ45[3] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNIB0655[4]  (
	.FCO(baud_cntr_cry[4]),
	.S(baud_cntr_s[4]),
	.Y(baud_cntr_RNIB0655_Y[4]),
	.B(baud_cntr_Z[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[3])
);
defparam \baud_cntr_RNIB0655[4] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNIRBH55[5]  (
	.FCO(baud_cntr_cry[5]),
	.S(baud_cntr_s[5]),
	.Y(baud_cntr_RNIRBH55_Y[5]),
	.B(baud_cntr_Z[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[4])
);
defparam \baud_cntr_RNIRBH55[5] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNIQVBS6[6]  (
	.FCO(baud_cntr_cry[6]),
	.S(baud_cntr_s[6]),
	.Y(baud_cntr_RNIQVBS6_Y[6]),
	.B(un2_baud_cntr_1_RNIE7FM1_Y),
	.C(baud_cntr_Z[6]),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[5])
);
defparam \baud_cntr_RNIQVBS6[6] .INIT=20'h61100;
// @9:222
  ARI1 \baud_cntr_RNICDNS6[7]  (
	.FCO(baud_cntr_cry[7]),
	.S(baud_cntr_s[7]),
	.Y(baud_cntr_RNICDNS6_Y[7]),
	.B(baud_cntr_Z[7]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[6])
);
defparam \baud_cntr_RNICDNS6[7] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNID3IJ8[8]  (
	.FCO(baud_cntr_cry[8]),
	.S(baud_cntr_s[8]),
	.Y(baud_cntr_RNID3IJ8_Y[8]),
	.B(un2_baud_cntr_1_RNIE7FM1_Y),
	.C(baud_cntr_Z[8]),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[7])
);
defparam \baud_cntr_RNID3IJ8[8] .INIT=20'h61100;
// @9:222
  ARI1 \baud_cntr_RNI1JTJ8[9]  (
	.FCO(baud_cntr_cry[9]),
	.S(baud_cntr_s[9]),
	.Y(baud_cntr_RNI1JTJ8_Y[9]),
	.B(baud_cntr_Z[9]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[8])
);
defparam \baud_cntr_RNI1JTJ8[9] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNITQEV8[10]  (
	.FCO(baud_cntr_cry[10]),
	.S(baud_cntr_s[10]),
	.Y(baud_cntr_RNITQEV8_Y[10]),
	.B(baud_cntr_Z[10]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[9])
);
defparam \baud_cntr_RNITQEV8[10] .INIT=20'h65500;
// @9:222
  ARI1 \baud_cntr_RNO[12]  (
	.FCO(baud_cntr_RNO_FCO[12]),
	.S(baud_cntr_s[12]),
	.Y(baud_cntr_RNO_Y[12]),
	.B(baud_cntr_Z[12]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[11])
);
defparam \baud_cntr_RNO[12] .INIT=20'h45500;
// @9:222
  ARI1 \baud_cntr_RNIQ30B9[11]  (
	.FCO(baud_cntr_cry[11]),
	.S(baud_cntr_s[11]),
	.Y(baud_cntr_RNIQ30B9_Y[11]),
	.B(baud_cntr_Z[11]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(baud_cntr_cry[10])
);
defparam \baud_cntr_RNIQ30B9[11] .INIT=20'h65500;
// @9:222
  CFG4 \UG10.make_baud_cntr2.un2_baud_cntr_1  (
	.A(baud_cntr_Z[11]),
	.B(baud_cntr_Z[10]),
	.C(baud_cntr_Z[1]),
	.D(baud_cntr_Z[0]),
	.Y(un2_baud_cntr_1)
);
defparam \UG10.make_baud_cntr2.un2_baud_cntr_1 .INIT=16'h0001;
// @9:222
  CFG4 \UG10.make_baud_cntr2.un2_baud_cntr_8  (
	.A(baud_cntr_Z[9]),
	.B(baud_cntr_Z[8]),
	.C(baud_cntr_Z[7]),
	.D(baud_cntr_Z[6]),
	.Y(un2_baud_cntr_8)
);
defparam \UG10.make_baud_cntr2.un2_baud_cntr_8 .INIT=16'h0001;
// @9:222
  CFG4 \UG10.make_baud_cntr2.un2_baud_cntr_7  (
	.A(baud_cntr_Z[5]),
	.B(baud_cntr_Z[4]),
	.C(baud_cntr_Z[3]),
	.D(baud_cntr_Z[2]),
	.Y(un2_baud_cntr_7)
);
defparam \UG10.make_baud_cntr2.un2_baud_cntr_7 .INIT=16'h0001;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREUART_C0_COREUART_C0_0_Clock_gen_0_0 */

module COREUART_C0_COREUART_C0_0_Rx_async_0_0 (
  data_out_s,
  rx_c,
  parity_err_s,
  receive_full,
  baud_clock,
  stop_strobe,
  framing_err_s,
  clk,
  rstn_1,
  overflow_s
)
;
output [7:0] data_out_s ;
input rx_c ;
output parity_err_s ;
output receive_full ;
input baud_clock ;
output stop_strobe ;
output framing_err_s ;
input clk ;
input rstn_1 ;
output overflow_s ;
wire rx_c ;
wire parity_err_s ;
wire receive_full ;
wire baud_clock ;
wire stop_strobe ;
wire framing_err_s ;
wire clk ;
wire rstn_1 ;
wire overflow_s ;
wire [1:0] rx_state_Z;
wire [0:0] rx_state_ns;
wire [1:1] rx_statece_Z;
wire [8:0] rx_shift_Z;
wire [2:0] samples_Z;
wire [3:0] rx_bit_cnt_Z;
wire [3:0] rx_bit_cnt_4;
wire [3:1] receive_count_Z;
wire [2:2] rx_state_d;
wire [0:0] receive_count_3_i_a2_1;
wire rx_state_s0_0_a2_Z ;
wire N_133_i ;
wire VCC ;
wire overflow_xhdl1_0_sqmuxa_Z ;
wire GND ;
wire un1_framing_error_i4_i ;
wire stop_strobe_i_1_sqmuxa ;
wire overflow_int_Z ;
wire overflow_int_3 ;
wire framing_error_int_Z ;
wire framing_error_int_0_sqmuxa ;
wire rx_parity_calc_Z ;
wire rx_parity_calc_3 ;
wire receive_full_int_1_sqmuxa_1_i_Z ;
wire rx_parity_calc_1_i ;
wire parity_err_xhdl2_1_sqmuxa_i_Z ;
wire i9_mux_0 ;
wire rx_byte_xhdl5_1_sqmuxa_Z ;
wire un1_samples8_1_0_Z ;
wire N_265_i ;
wire N_99_i ;
wire N_97_i ;
wire CO0 ;
wire N_95_i ;
wire rx_filtered ;
wire rx_bit_cnt_0_sqmuxa_0_a2_Z ;
wire N_129_i ;
wire N_122 ;
wire m16_1_1 ;
wire un47_baud_clock ;
wire m16_1 ;
wire i5_mux ;
wire un1_samples8_2_0_Z ;
wire N_106_i ;
wire rx_bit_cnt_1_sqmuxa ;
wire parity_err_xhdl2_1_sqmuxa_2 ;
wire framing_error_int_0_sqmuxa_0_a5_2_Z ;
wire N_24_mux ;
wire N_268 ;
wire N_270 ;
wire N_119 ;
wire CO1 ;
wire N_103 ;
wire N_20 ;
wire N_19 ;
wire N_18 ;
wire N_17 ;
wire N_8 ;
wire N_7 ;
  CFG1 rx_state_s0_0_a2_RNI8QR2 (
	.A(rx_state_s0_0_a2_Z),
	.Y(N_133_i)
);
defparam rx_state_s0_0_a2_RNI8QR2.INIT=2'h1;
// @10:194
  SLE overflow_xhdl1 (
	.Q(overflow_s),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(VCC),
	.EN(overflow_xhdl1_0_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:218
  SLE framing_error_i (
	.Q(framing_err_s),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(VCC),
	.EN(un1_framing_error_i4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE stop_strobe_i (
	.Q(stop_strobe),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(stop_strobe_i_1_sqmuxa),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE overflow_int (
	.Q(overflow_int_Z),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(overflow_int_3),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE framing_error_int (
	.Q(framing_error_int_Z),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(framing_error_int_0_sqmuxa),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:375
  SLE rx_parity_calc (
	.Q(rx_parity_calc_Z),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_parity_calc_3),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:443
  SLE receive_full_int (
	.Q(receive_full),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(VCC),
	.EN(receive_full_int_1_sqmuxa_1_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:399
  SLE parity_err_xhdl2 (
	.Q(parity_err_s),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_parity_calc_1_i),
	.EN(parity_err_xhdl2_1_sqmuxa_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_state[0]  (
	.Q(rx_state_Z[0]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_state_ns[0]),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_state[1]  (
	.Q(rx_state_Z[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(i9_mux_0),
	.EN(rx_statece_Z[1]),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[0]  (
	.Q(data_out_s[0]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[0]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_shift[4]  (
	.Q(rx_shift_Z[4]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[5]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[3]  (
	.Q(rx_shift_Z[3]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[4]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[2]  (
	.Q(rx_shift_Z[2]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[3]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[1]  (
	.Q(rx_shift_Z[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[2]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[0]  (
	.Q(rx_shift_Z[0]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[1]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:124
  SLE \samples[2]  (
	.Q(samples_Z[2]),
	.ADn(GND),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_c),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:124
  SLE \samples[1]  (
	.Q(samples_Z[1]),
	.ADn(GND),
	.ALn(rstn_1),
	.CLK(clk),
	.D(samples_Z[2]),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:124
  SLE \samples[0]  (
	.Q(samples_Z[0]),
	.ADn(GND),
	.ALn(rstn_1),
	.CLK(clk),
	.D(samples_Z[1]),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[7]  (
	.Q(data_out_s[7]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[7]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[6]  (
	.Q(data_out_s[6]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[6]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[5]  (
	.Q(data_out_s[5]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[5]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[4]  (
	.Q(data_out_s[4]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[4]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[3]  (
	.Q(data_out_s[3]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[3]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[2]  (
	.Q(data_out_s[2]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[2]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:264
  SLE \rx_byte_xhdl5[1]  (
	.Q(data_out_s[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[1]),
	.EN(rx_byte_xhdl5_1_sqmuxa_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_bit_cnt[3]  (
	.Q(rx_bit_cnt_Z[3]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_bit_cnt_4[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_bit_cnt[2]  (
	.Q(rx_bit_cnt_Z[2]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_bit_cnt_4[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_bit_cnt[1]  (
	.Q(rx_bit_cnt_Z[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_bit_cnt_4[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_bit_cnt[0]  (
	.Q(rx_bit_cnt_Z[0]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_bit_cnt_4[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:169
  SLE \receive_count[3]  (
	.Q(receive_count_Z[3]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(N_265_i),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:169
  SLE \receive_count[2]  (
	.Q(receive_count_Z[2]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(N_99_i),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:169
  SLE \receive_count[1]  (
	.Q(receive_count_Z[1]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(N_97_i),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:169
  SLE \receive_count[0]  (
	.Q(CO0),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(N_95_i),
	.EN(baud_clock),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:333
  SLE \rx_shift[8]  (
	.Q(rx_shift_Z[8]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_filtered),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[7]  (
	.Q(rx_shift_Z[7]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[8]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[6]  (
	.Q(rx_shift_Z[6]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[7]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:333
  SLE \rx_shift[5]  (
	.Q(rx_shift_Z[5]),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(rx_shift_Z[6]),
	.EN(un1_samples8_1_0_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(N_133_i)
);
// @10:306
  CFG3 rx_bit_cnt_0_sqmuxa_0_a2 (
	.A(rx_state_Z[0]),
	.B(rx_state_Z[1]),
	.C(baud_clock),
	.Y(rx_bit_cnt_0_sqmuxa_0_a2_Z)
);
defparam rx_bit_cnt_0_sqmuxa_0_a2.INIT=8'h10;
// @10:503
  CFG3 un1_samples8_1_0 (
	.A(N_129_i),
	.B(baud_clock),
	.C(rx_bit_cnt_0_sqmuxa_0_a2_Z),
	.Y(un1_samples8_1_0_Z)
);
defparam un1_samples8_1_0.INIT=8'hF8;
// @10:178
  CFG4 \rcv_cnt.receive_count_3_i_a5_0[3]  (
	.A(samples_Z[0]),
	.B(samples_Z[1]),
	.C(samples_Z[2]),
	.D(rx_state_s0_0_a2_Z),
	.Y(N_122)
);
defparam \rcv_cnt.receive_count_3_i_a5_0[3] .INIT=16'hE800;
// @10:264
  CFG4 \rx_state_ns_1_0_.m16_1  (
	.A(m16_1_1),
	.B(un47_baud_clock),
	.C(rx_state_Z[0]),
	.D(rx_state_Z[1]),
	.Y(m16_1)
);
defparam \rx_state_ns_1_0_.m16_1 .INIT=16'hF03A;
// @10:264
  CFG4 \rx_state_ns_1_0_.m16_1_1  (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[3]),
	.C(receive_count_Z[1]),
	.D(CO0),
	.Y(m16_1_1)
);
defparam \rx_state_ns_1_0_.m16_1_1 .INIT=16'h0004;
// @10:264
  CFG4 \rx_state_ns_1_0_.m16_2  (
	.A(i5_mux),
	.B(rx_state_Z[1]),
	.C(m16_1),
	.D(N_129_i),
	.Y(rx_state_ns[0])
);
defparam \rx_state_ns_1_0_.m16_2 .INIT=16'hBCB0;
// @10:458
  CFG2 un1_samples8_2_0 (
	.A(rx_bit_cnt_Z[0]),
	.B(rx_bit_cnt_Z[3]),
	.Y(un1_samples8_2_0_Z)
);
defparam un1_samples8_2_0.INIT=4'h7;
// @10:264
  CFG2 \rx_statece[1]  (
	.A(baud_clock),
	.B(rx_state_Z[0]),
	.Y(rx_statece_Z[1])
);
defparam \rx_statece[1] .INIT=4'h8;
// @10:264
  CFG2 rx_state_s1_0_a5 (
	.A(rx_state_Z[1]),
	.B(rx_state_Z[0]),
	.Y(rx_state_d[2])
);
defparam rx_state_s1_0_a5.INIT=4'h4;
// @10:306
  CFG2 stop_strobe_i_1_sqmuxa_0_a5 (
	.A(N_129_i),
	.B(N_106_i),
	.Y(stop_strobe_i_1_sqmuxa)
);
defparam stop_strobe_i_1_sqmuxa_0_a5.INIT=4'h2;
// @10:264
  CFG2 rx_state_s0_0_a2 (
	.A(rx_state_Z[1]),
	.B(rx_state_Z[0]),
	.Y(rx_state_s0_0_a2_Z)
);
defparam rx_state_s0_0_a2.INIT=4'h1;
// @10:264
  CFG2 rx_state_s2_0_o2 (
	.A(rx_state_Z[1]),
	.B(rx_state_Z[0]),
	.Y(N_106_i)
);
defparam rx_state_s2_0_o2.INIT=4'hD;
// @10:405
  CFG2 \make_parity_err.un87_baud_clock_0_a5  (
	.A(N_129_i),
	.B(baud_clock),
	.Y(rx_bit_cnt_1_sqmuxa)
);
defparam \make_parity_err.un87_baud_clock_0_a5 .INIT=4'h8;
// @10:458
  CFG2 un1_samples8_2_2 (
	.A(rx_bit_cnt_Z[1]),
	.B(rx_bit_cnt_Z[2]),
	.Y(parity_err_xhdl2_1_sqmuxa_2)
);
defparam un1_samples8_2_2.INIT=4'hE;
// @10:201
  CFG2 overflow_xhdl1_0_sqmuxa (
	.A(baud_clock),
	.B(overflow_int_Z),
	.Y(overflow_xhdl1_0_sqmuxa_Z)
);
defparam overflow_xhdl1_0_sqmuxa.INIT=4'h8;
// @10:306
  CFG4 framing_error_int_0_sqmuxa_0_a5_2 (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[3]),
	.C(receive_count_Z[1]),
	.D(CO0),
	.Y(framing_error_int_0_sqmuxa_0_a5_2_Z)
);
defparam framing_error_int_0_sqmuxa_0_a5_2.INIT=16'h0080;
// @10:178
  CFG3 \rcv_cnt.receive_count_3_i_a2_1_0[0]  (
	.A(receive_count_Z[3]),
	.B(rx_state_Z[1]),
	.C(rx_state_Z[0]),
	.Y(receive_count_3_i_a2_1[0])
);
defparam \rcv_cnt.receive_count_3_i_a2_1_0[0] .INIT=8'h40;
// @10:264
  CFG4 \rx_state_ns_1_0_.m10  (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[3]),
	.C(receive_count_Z[1]),
	.D(CO0),
	.Y(N_24_mux)
);
defparam \rx_state_ns_1_0_.m10 .INIT=16'h0020;
// @10:218
  CFG2 framing_error_i_RNO (
	.A(baud_clock),
	.B(framing_error_int_Z),
	.Y(un1_framing_error_i4_i)
);
defparam framing_error_i_RNO.INIT=4'h8;
// @10:282
  CFG3 \rcv_sm.overflow_int_3  (
	.A(receive_full),
	.B(rx_state_d[2]),
	.C(un47_baud_clock),
	.Y(overflow_int_3)
);
defparam \rcv_sm.overflow_int_3 .INIT=8'h80;
// @10:282
  CFG4 rx_byte_xhdl5_1_sqmuxa (
	.A(rx_state_d[2]),
	.B(un47_baud_clock),
	.C(receive_full),
	.D(baud_clock),
	.Y(rx_byte_xhdl5_1_sqmuxa_Z)
);
defparam rx_byte_xhdl5_1_sqmuxa.INIT=16'h0800;
// @10:142
  CFG3 rx_filtered_i_o2 (
	.A(samples_Z[1]),
	.B(samples_Z[0]),
	.C(samples_Z[2]),
	.Y(rx_filtered)
);
defparam rx_filtered_i_o2.INIT=8'hE8;
// @10:169
  CFG4 \rcv_cnt.receive_count_3_2_120_i_a5  (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[3]),
	.C(receive_count_Z[1]),
	.D(CO0),
	.Y(N_268)
);
defparam \rcv_cnt.receive_count_3_2_120_i_a5 .INIT=16'h1333;
// @10:169
  CFG4 \rcv_cnt.receive_count_3_2_120_i_a5_1  (
	.A(CO0),
	.B(receive_count_Z[2]),
	.C(rx_state_s0_0_a2_Z),
	.D(receive_count_Z[1]),
	.Y(N_270)
);
defparam \rcv_cnt.receive_count_3_2_120_i_a5_1 .INIT=16'h0010;
// @10:178
  CFG4 \rcv_cnt.receive_count_3_i_a5[0]  (
	.A(receive_count_Z[1]),
	.B(rx_state_s0_0_a2_Z),
	.C(receive_count_Z[3]),
	.D(receive_count_Z[2]),
	.Y(N_119)
);
defparam \rcv_cnt.receive_count_3_i_a5[0] .INIT=16'h0040;
// @10:349
  CFG3 \un1_rx_bit_cnt_1_1.CO1  (
	.A(rx_bit_cnt_Z[0]),
	.B(rx_bit_cnt_1_sqmuxa),
	.C(rx_bit_cnt_Z[1]),
	.Y(CO1)
);
defparam \un1_rx_bit_cnt_1_1.CO1 .INIT=8'h80;
// @10:341
  CFG3 \receive_shift.rx_bit_cnt_4[0]  (
	.A(rx_bit_cnt_0_sqmuxa_0_a2_Z),
	.B(rx_bit_cnt_1_sqmuxa),
	.C(rx_bit_cnt_Z[0]),
	.Y(rx_bit_cnt_4[0])
);
defparam \receive_shift.rx_bit_cnt_4[0] .INIT=8'h14;
// @10:264
  CFG4 \rx_state_ns_1_0_.m8  (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[3]),
	.C(receive_count_Z[1]),
	.D(CO0),
	.Y(N_129_i)
);
defparam \rx_state_ns_1_0_.m8 .INIT=16'h8000;
// @10:264
  CFG4 \rx_bit_cnt_RNI2O091[1]  (
	.A(rx_bit_cnt_Z[3]),
	.B(rx_bit_cnt_Z[2]),
	.C(rx_bit_cnt_Z[1]),
	.D(rx_bit_cnt_Z[0]),
	.Y(un47_baud_clock)
);
defparam \rx_bit_cnt_RNI2O091[1] .INIT=16'h0200;
// @10:306
  CFG3 framing_error_int_0_sqmuxa_0_a5 (
	.A(N_106_i),
	.B(rx_filtered),
	.C(framing_error_int_0_sqmuxa_0_a5_2_Z),
	.Y(framing_error_int_0_sqmuxa)
);
defparam framing_error_int_0_sqmuxa_0_a5.INIT=8'h10;
// @10:341
  CFG4 \receive_shift.rx_bit_cnt_4[1]  (
	.A(rx_bit_cnt_0_sqmuxa_0_a2_Z),
	.B(rx_bit_cnt_1_sqmuxa),
	.C(rx_bit_cnt_Z[1]),
	.D(rx_bit_cnt_Z[0]),
	.Y(rx_bit_cnt_4[1])
);
defparam \receive_shift.rx_bit_cnt_4[1] .INIT=16'h1450;
// @10:399
  CFG4 parity_err_xhdl2_1_sqmuxa_i (
	.A(parity_err_xhdl2_1_sqmuxa_2),
	.B(rx_bit_cnt_1_sqmuxa),
	.C(rx_bit_cnt_Z[3]),
	.D(rx_bit_cnt_Z[0]),
	.Y(parity_err_xhdl2_1_sqmuxa_i_Z)
);
defparam parity_err_xhdl2_1_sqmuxa_i.INIT=16'h0040;
// @10:264
  CFG4 \rx_state_ns_1_0_.m14  (
	.A(samples_Z[2]),
	.B(samples_Z[0]),
	.C(N_24_mux),
	.D(samples_Z[1]),
	.Y(i5_mux)
);
defparam \rx_state_ns_1_0_.m14 .INIT=16'h0107;
// @10:178
  CFG4 \rcv_cnt.receive_count_3_i_o5[0]  (
	.A(receive_count_Z[2]),
	.B(receive_count_Z[1]),
	.C(receive_count_3_i_a2_1[0]),
	.D(N_122),
	.Y(N_103)
);
defparam \rcv_cnt.receive_count_3_i_o5[0] .INIT=16'hFF80;
// @10:341
  CFG3 \receive_shift.rx_bit_cnt_4[2]  (
	.A(rx_bit_cnt_0_sqmuxa_0_a2_Z),
	.B(CO1),
	.C(rx_bit_cnt_Z[2]),
	.Y(rx_bit_cnt_4[2])
);
defparam \receive_shift.rx_bit_cnt_4[2] .INIT=8'h14;
// @10:443
  CFG4 receive_full_int_1_sqmuxa_1_i (
	.A(parity_err_xhdl2_1_sqmuxa_2),
	.B(rx_state_d[2]),
	.C(baud_clock),
	.D(un1_samples8_2_0_Z),
	.Y(receive_full_int_1_sqmuxa_1_i_Z)
);
defparam receive_full_int_1_sqmuxa_1_i.INIT=16'h0040;
// @10:399
  CFG2 parity_err_xhdl2_RNO (
	.A(rx_filtered),
	.B(rx_parity_calc_Z),
	.Y(rx_parity_calc_1_i)
);
defparam parity_err_xhdl2_RNO.INIT=4'h9;
// @10:264
  CFG3 \rx_state_ns_1_0_.m18  (
	.A(i5_mux),
	.B(un47_baud_clock),
	.C(rx_state_Z[1]),
	.Y(i9_mux_0)
);
defparam \rx_state_ns_1_0_.m18 .INIT=8'hAC;
// @10:341
  CFG4 \receive_shift.rx_bit_cnt_4[3]  (
	.A(rx_bit_cnt_0_sqmuxa_0_a2_Z),
	.B(CO1),
	.C(rx_bit_cnt_Z[3]),
	.D(rx_bit_cnt_Z[2]),
	.Y(rx_bit_cnt_4[3])
);
defparam \receive_shift.rx_bit_cnt_4[3] .INIT=16'h1450;
// @10:385
  CFG4 \rx_par_calc.rx_parity_calc_3_u  (
	.A(rx_filtered),
	.B(N_129_i),
	.C(rx_parity_calc_Z),
	.D(N_106_i),
	.Y(rx_parity_calc_3)
);
defparam \rx_par_calc.rx_parity_calc_3_u .INIT=16'h7800;
// @10:169
  CFG4 \receive_count_RNO[3]  (
	.A(N_270),
	.B(N_122),
	.C(N_268),
	.D(N_129_i),
	.Y(N_265_i)
);
defparam \receive_count_RNO[3] .INIT=16'h0001;
// @10:169
  CFG4 \receive_count_RNO[2]  (
	.A(receive_count_Z[1]),
	.B(N_103),
	.C(receive_count_Z[2]),
	.D(CO0),
	.Y(N_99_i)
);
defparam \receive_count_RNO[2] .INIT=16'h1230;
// @10:169
  CFG3 \receive_count_RNO[1]  (
	.A(N_103),
	.B(CO0),
	.C(receive_count_Z[1]),
	.Y(N_97_i)
);
defparam \receive_count_RNO[1] .INIT=8'h14;
// @10:169
  CFG3 \receive_count_RNO[0]  (
	.A(N_103),
	.B(CO0),
	.C(N_119),
	.Y(N_95_i)
);
defparam \receive_count_RNO[0] .INIT=8'h01;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREUART_C0_COREUART_C0_0_Rx_async_0_0 */

module COREUART_C0_COREUART_C0_0_COREUART_26_0_0_0_0 (
  data_out_s,
  overflow_s,
  framing_err_s,
  parity_err_s,
  rx_c,
  clk,
  rstn_1,
  rxrdy_s
)
;
output [7:0] data_out_s ;
output overflow_s ;
output framing_err_s ;
output parity_err_s ;
input rx_c ;
input clk ;
input rstn_1 ;
output rxrdy_s ;
wire overflow_s ;
wire framing_err_s ;
wire parity_err_s ;
wire rx_c ;
wire clk ;
wire rstn_1 ;
wire rxrdy_s ;
wire VCC ;
wire receive_full ;
wire un1_rx_fifo ;
wire GND ;
wire stop_strobe ;
wire N_47 ;
wire N_46 ;
wire N_45 ;
wire N_44 ;
wire N_43 ;
wire N_42 ;
wire N_41 ;
wire N_40 ;
wire baud_clock ;
// @18:311
  SLE rxrdy_xhdl4 (
	.Q(rxrdy_s),
	.ADn(VCC),
	.ALn(rstn_1),
	.CLK(clk),
	.D(receive_full),
	.EN(un1_rx_fifo),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @18:318
  CFG2 \RXRDY_NEW.un1_rx_fifo  (
	.A(receive_full),
	.B(stop_strobe),
	.Y(un1_rx_fifo)
);
defparam \RXRDY_NEW.un1_rx_fifo .INIT=4'hD;
// @18:466
  COREUART_C0_COREUART_C0_0_Clock_gen_0_0 make_COREUART_C0_COREUART_C0_0_Clock_gen (
	.baud_clock(baud_clock),
	.clk(clk),
	.rstn_1(rstn_1)
);
// @18:498
  COREUART_C0_COREUART_C0_0_Rx_async_0_0 make_RX (
	.data_out_s(data_out_s[7:0]),
	.rx_c(rx_c),
	.parity_err_s(parity_err_s),
	.receive_full(receive_full),
	.baud_clock(baud_clock),
	.stop_strobe(stop_strobe),
	.framing_err_s(framing_err_s),
	.clk(clk),
	.rstn_1(rstn_1),
	.overflow_s(overflow_s)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREUART_C0_COREUART_C0_0_COREUART_26_0_0_0_0 */

module COREUART_C0 (
  data_out_s,
  rxrdy_s,
  rstn_1,
  clk,
  rx_c,
  parity_err_s,
  framing_err_s,
  overflow_s
)
;
output [7:0] data_out_s ;
output rxrdy_s ;
input rstn_1 ;
input clk ;
input rx_c ;
output parity_err_s ;
output framing_err_s ;
output overflow_s ;
wire rxrdy_s ;
wire rstn_1 ;
wire clk ;
wire rx_c ;
wire parity_err_s ;
wire framing_err_s ;
wire overflow_s ;
wire GND ;
wire VCC ;
// @19:149
  COREUART_C0_COREUART_C0_0_COREUART_26_0_0_0_0 COREUART_C0_0 (
	.data_out_s(data_out_s[7:0]),
	.overflow_s(overflow_s),
	.framing_err_s(framing_err_s),
	.parity_err_s(parity_err_s),
	.rx_c(rx_c),
	.clk(clk),
	.rstn_1(rstn_1),
	.rxrdy_s(rxrdy_s)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREUART_C0 */

module uart_reader (
  data_out_s,
  framing_err_s,
  overflow_s,
  parity_err_s,
  rxrdy_s,
  LED2_c,
  LED1_c,
  clk,
  LED4_c
)
;
input [7:0] data_out_s ;
input framing_err_s ;
input overflow_s ;
input parity_err_s ;
input rxrdy_s ;
output LED2_c ;
output LED1_c ;
input clk ;
output LED4_c ;
wire framing_err_s ;
wire overflow_s ;
wire parity_err_s ;
wire rxrdy_s ;
wire LED2_c ;
wire LED1_c ;
wire clk ;
wire LED4_c ;
wire VCC ;
wire led42 ;
wire GND ;
wire parity_err_Z ;
wire led42lto4_1_Z ;
wire led42lt5 ;
wire N_2 ;
// @17:47
  SLE LED4 (
	.Q(LED4_c),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk),
	.D(led42),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @17:47
  SLE LED1 (
	.Q(LED1_c),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk),
	.D(parity_err_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @17:47
  SLE LED2 (
	.Q(LED2_c),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(clk),
	.D(rxrdy_s),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @17:66
  CFG2 led42lto4_1 (
	.A(data_out_s[1]),
	.B(data_out_s[2]),
	.Y(led42lto4_1_Z)
);
defparam led42lto4_1.INIT=4'hE;
// @17:48
  CFG3 parity_err (
	.A(parity_err_s),
	.B(overflow_s),
	.C(framing_err_s),
	.Y(parity_err_Z)
);
defparam parity_err.INIT=8'hFE;
// @17:66
  CFG4 led42lto4 (
	.A(data_out_s[0]),
	.B(led42lto4_1_Z),
	.C(data_out_s[4]),
	.D(data_out_s[3]),
	.Y(led42lt5)
);
defparam led42lto4.INIT=16'hFFFE;
// @17:66
  CFG4 led42lto7 (
	.A(data_out_s[5]),
	.B(led42lt5),
	.C(data_out_s[7]),
	.D(data_out_s[6]),
	.Y(led42)
);
defparam led42lto7.INIT=16'hF080;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* uart_reader */

module top_level (
  clk,
  rstn,
  button1,
  LED1,
  LED2,
  LED3,
  LED4,
  rx,
  tx
)
;
input clk ;
input rstn ;
input button1 ;
output LED1 ;
output LED2 ;
output LED3 ;
output LED4 ;
input rx ;
output tx ;
wire clk ;
wire rstn ;
wire button1 ;
wire LED1 ;
wire LED2 ;
wire LED3 ;
wire LED4 ;
wire rx ;
wire tx ;
wire [7:0] data_out_s;
wire NN_1 ;
wire framing_err_s ;
wire overflow_s ;
wire parity_err_s ;
wire rxrdy_s ;
wire GND ;
wire VCC ;
wire rstn_1_Z ;
wire clk_ibuf_Z ;
wire rstn_c ;
wire button1_c ;
wire rx_c ;
wire LED1_c ;
wire LED2_c ;
wire LED4_c ;
// @20:26
  INBUF clk_ibuf (
	.Y(clk_ibuf_Z),
	.PAD(clk)
);
// @20:27
  INBUF rstn_ibuf (
	.Y(rstn_c),
	.PAD(rstn)
);
// @20:29
  INBUF button1_ibuf (
	.Y(button1_c),
	.PAD(button1)
);
// @20:35
  INBUF rx_ibuf (
	.Y(rx_c),
	.PAD(rx)
);
// @20:30
  OUTBUF LED1_obuf (
	.PAD(LED1),
	.D(LED1_c)
);
// @20:31
  OUTBUF LED2_obuf (
	.PAD(LED2),
	.D(LED2_c)
);
// @20:32
  OUTBUF LED3_obuf (
	.PAD(LED3),
	.D(VCC)
);
// @20:33
  OUTBUF LED4_obuf (
	.PAD(LED4),
	.D(LED4_c)
);
// @20:36
  OUTBUF tx_obuf (
	.PAD(tx),
	.D(VCC)
);
// @20:69
  CFG2 rstn_1 (
	.A(button1_c),
	.B(rstn_c),
	.Y(rstn_1_Z)
);
defparam rstn_1.INIT=4'hE;
  CLKINT I_1 (
	.Y(NN_1),
	.A(clk_ibuf_Z)
);
// @20:58
  COREUART_C0 uart_i (
	.data_out_s(data_out_s[7:0]),
	.rxrdy_s(rxrdy_s),
	.rstn_1(rstn_1_Z),
	.clk(NN_1),
	.rx_c(rx_c),
	.parity_err_s(parity_err_s),
	.framing_err_s(framing_err_s),
	.overflow_s(overflow_s)
);
// @20:97
  uart_reader uart_reader_i (
	.data_out_s(data_out_s[7:0]),
	.framing_err_s(framing_err_s),
	.overflow_s(overflow_s),
	.parity_err_s(parity_err_s),
	.rxrdy_s(rxrdy_s),
	.LED2_c(LED2_c),
	.LED1_c(LED1_c),
	.clk(NN_1),
	.LED4_c(LED4_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* top_level */

